.container {
  max-width: 720px;
  margin-top: -56px;
}

.weather-wrapper {
  max-width: 565px;
  margin: auto;
}
.weather-wrapper {
  border: 1px solid #b99be6;
  padding: 27px;
  padding-bottom: 21px;
  border-radius: 4px;
  background-color: #fff;
  margin-block: 82px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
footer {
  text-align: center;
  margin-top: -60px;
  font-size: small;
}

a {
  text-decoration: none;
  color: #5664ff;
  font-size: small;
}
