#inputCity {
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 28px;
  padding-right: 125px;
  line-height: 43px;
  margin-right: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 10px;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 5%);
}
.searchButton {
  padding: 14px 17px;
  margin-left: 5px;
  background: #2274a5;
  color: whitesmoke;
  border-radius: 37px;
  font-weight: bold;

  border: none;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 10%);
}

.fas {
  font-size: 20px;
}
