button {
  background-color: #b99be6;
  padding: 7px 15px 11px 15px;
  border-radius: 40px;
  position: relative;
  left: -18px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
button:hover {
  background-image: linear-gradient(
    68.4deg,
    rgb(248, 182, 204) 0.5%,
    rgb(192, 198, 230) 49%,
    rgb(225, 246, 240) 99.8%
  );
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-repeat: repeat;
    background-position: 20vw;
  }
}

ul,
li {
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
h2 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  line-height: 20px;
}
.search-icon {
  font-size: 24px;
  font-weight: bold;
  color: aliceblue;
}

.city {
  font-size: 70px;
  font-weight: 400;
  line-height: 35px;
  font-family: "Nunito", sans-serif;
  color: #575353;
}
.Date {
  font-size: "Nunito", sans-serif;
  font-size: 30px;
  color: grey;
}
a {
  font-size: 20px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.temp {
  font-size: 20px;
  color: grey;
  position: relative;
  top: -92px;
  left: -44px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-control {
  border-radius: 41px;
  padding: 12px;
  font-family: "Nunito", sans-serif;
  border-color: #b99be6;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.icon canvas {
  font-size: 75px;
  line-height: 10px;
  position: relative;
  top: -18px;
  color: #b99be6;
}
.temperature {
  font-size: 120px;
  font-weight: lighter;
  line-height: 1px;
  position: relative;
  top: -153px;
  left: 25px;
  font-family: "Poiret One", cursive;
  color: rgb(85, 84, 84);
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  justify-content: center;
}

.Weather {
  text-align: center;
}

/*   Animation  */
.circle {
  background-image: linear-gradient(
    68.4deg,
    rgb(248, 182, 204) 0.5%,
    rgb(192, 198, 230) 49%,
    rgb(225, 246, 240) 99.8%
  );
  width: 302px;
  height: 307px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  animation: rot 2s linear infinite;
  padding: 1px;
}
.circle > div {
  background: rgb(253, 251, 251);
  height: 299px;
  width: 293px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  border-width: 41px;
}

.circle p {
  animation: none;
}
p {
  position: absolute;
  z-index: 10;
  top: 130px;
  left: 35px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
